.app {

}

.main_container {
  width: 100%;
  height: 100vh;
}

.app_view_container {
  display: flex;
}

.nav_container {
  width: 5%;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #18181A;
  position: relative;
}

.nav_bar {
  padding-top: 2rem;
}

.nav_bar ul {
  padding: 0;
  list-style-type: none;
}

.nav_bar ul li {
  padding: 0.5rem 0.2rem 0.5rem 1rem;
}

.nav_bar ul li a {
  font-size: 1rem;
  text-decoration: none;
  font-size: 1rem;
  outline: none;
  color: #F5A522;
  transition: all .5s;
}

.nav_bar ul li a:hover {
  opacity: .6;
  transition: all .5s;
}

.logoutIconBox {
  position: absolute;
  bottom: 5%;
  left: 20%;
  transition: all .5s;
}

.logoutIconBox:hover {
  cursor: pointer;
  transition: all .5s;
  transform: scale(1.1);
}

.body_container {
  width: 95%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #e3e3e3;
}

.body_content {
  min-height: 100vh;
}

.body_top_bar {
  display: grid;
  place-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  height: 6vh;
  padding: 0.2rem;
  background-color: rgba(36, 36, 36, 0.95);
  z-index: 1000;
}

.body_top_bar h4 {
  font-size: 0.9rem;
  color: #ffffff;
}

.body_bottom_bar {
  display: grid;
  place-items: center;
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 0.2rem;
  background-image: linear-gradient(to right, #18181A, #F5A522, #18181A);
}

.body_bottom_bar p {
  font-size: 0.8rem;
  color: #18181A;
}

